<div cdkDropListGroup  [cdkDropListData]="board"
(cdkDropListDropped)="dropcontainer($event, i)" class="board">
    <!-- LIST-->
    <div [cdkDragData]=node
      cdkDropList
      [cdkDropListData]="board[i].cards"
      (cdkDropListDropped)="drop($event, i)"
      *ngFor="let list of board; let i=index"
      class="list"
      cdkDrag
    >
      <!-- View TitleList or Input -->
      <span class="listTitle"
        *ngIf="editingListId != list.id"
        (click)="editTitleList(list)"
        title="list title"
        >{{list.name}}</span
      >
  
      <div
        style="display:flex; justify-content:center"
        *ngIf="titleListEditor && editingListId == list.id"
      >
        <input #titleListInput [value]="list.name" />
        <button (click)="getTitleListOnKeyUp(titleListInput.value, list)">
          OK
        </button>
      </div>
  
      <button (click)="deleteListAction(list)" class="delete-card"><i class="fa fa-times-circle"></i></button>
  
      <!-- CARD -->
      <div
       
        (click)="openModal(card)"
        cdkDrag
        *ngFor="let card of list.cards"
        class="card"
      >
        {{card.title}}
        <button
          (click)="deleteCardAction($event, list.id, card.id)"
          class="delete-card"
        >
        <i class="fa fa-trash"></i>
        </button>
        
        <span>&nbsp;</span><i class="fa fa-pencil"></i>
      </div>
      <!-- END CARD -->
  
      <a href="#" class="add-card" (click)="addCardAction(list.id)"
        >+ Add a card</a
      >
    </div>
    <!-- END LIST-->
  
    <div class="list" cdkDragLockAxis="x" cdkDrag>
      <!-- <div>Ajouter une liste</div> -->
      <a href="#" (click)="addListAction()">+ Add another list</a>
    </div>
  </div>
  
  <div *ngIf="isModalOpen" class="modal">
    <button (click)="closeModal()" class="close">X</button>
  
    <!-- COMPONENT app-card-modal -->
    <app-card-popup
      (formSubmitEvent)="closeModal()"
      [selectedCard]="cardObject"
    ></app-card-popup>
  </div>
  <div *ngIf="isModalOpen" class="backdrop"></div>
  
